.input-style{
     display: flex;
     flex-direction: column;
     /* gap: 10px; */
}

.input-style > input {
    height: 30px;
    border: 1px solid #A5A5A5;
    border-radius: 3px;
    padding: 0 8px;
    font-family: 'roboto';
    color: rgb(146, 146, 146);
}

.input-style > label {
    font-family: 'roboto-slab';
    font-weight: 700;
    font-size: 16px;
    color: #A5A5A5;
    margin-bottom: 5px;
}