.public-template{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}

.public-template-padding{
    padding: 50px;
}

.public-template-children{
    width:fit-content;
    height: 100%;
    padding: 0 30px;
}

.public-template-children > div{
    width: 100%;
}

.public-template-header{
    text-align: center;
    width: 100%;
    border-bottom: 1px solid rgb(201, 201, 201);
    margin-bottom: 100px;
}
.public-template-footer{
    margin-top: 100px;
    text-align: center;
    width: 100%;
    border-top: 1px solid rgb(201, 201, 201);

}