.button{
    height: 30px;
    min-width: 60px;
    display: flex;
    font-family: 'roboto';
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    background-color: rgb(94, 94, 94);
    border: none;
    justify-content: center;
    align-items: center;
}
