.user-info-wrapper{
    display: flex;
    gap: 20px;
    align-items: end;
    justify-content: space-between;
}

.span-name{
    font-family: 'roboto-slab';
    font-weight: 700;
    font-size: 18px;
    color: rgb(80, 80, 80);
}

.span-email,
.span-pno
{
    font-family: 'roboto';
    font-size: 14px;
    padding-bottom: 4px;
    color: rgb(80, 80, 80);
    /* align-self: end; */
}

.span-global{
    width: 200px;
}