.input-list{ 
    display: flex;
    gap: 50px;
    margin-bottom: 20px;

}
.input-list > button{
    align-self: end;
    height: 30px;
    min-width: 50px;
    min-width: 60px;
}
.users-list-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(201, 201, 201);
    padding: 10px 0;
}